<main class="container py-3 d-flex flex-column gap-3">
    <span><a href="/home" class="text-decoration-none ">Home</a> > <a href="/home/people" class="text-decoration-none">Department</a> > <a href="/home/people/peopleinfo" class="text-decoration-none ">People Information</a> > <a href="/home/people/peopleinfo/upload" class="text-decoration-none ">Upload</a></span>
    <app-bulk-upload [EXPORT_URL]="EXPORT_URL" [TEMPLATE_SPREADSHEET_URL]="TEMPLATE_SPREADSHEET_URL" [TEMPLATE_CSV_URL]="TEMPLATE_CSV_URL"></app-bulk-upload>
</main>