<main class="container py-3 d-flex flex-column gap-3">
    <span><a href="/home" class="text-decoration-none ">Home</a> > <a href="/home/people" class="text-decoration-none ">Department</a> > <a href="/home/people/peopleinfo" class="text-decoration-none ">People Information</a></span>
    <div class="d-flex gap-3">
        <a href="/home/people/peopleinfo"><button class="btn btn-outline-primary px-5">View People Information</button></a>
        <a href="/home/people/peopleinfo/upload"><button class="btn btn-outline-primary px-5">Upload People Information</button></a>
        <a href="/home/people/peopleinfo"><button class="btn btn-outline-primary px-5">Update People Information</button></a>
    </div>
</main>